main {
  padding: 80px;
}

h1 {
  color: #272C4C;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.check {
  display: flex;
  flex-direction: row;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 14px;
  padding-bottom: 60px;
  margin-right: 30px;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border-color: #CBD4EC;;
  background-color: #CBD4EC;;
  background-image: url("./img/check_box.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

body {
  padding: 20px 50px;
}

.checkbox {
  margin-bottom: 1em;
}

  .card_item {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 93px 93px;
    padding-bottom: 60px;
  }

  .card {
    max-width: 338px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(69, 85, 185, 0.20);
    padding: 40px;
    display: flex;
    flex-direction: column;
    }

  .card:hover {
    box-shadow: 0px 0px 26px 0px rgba(69, 85, 185, 0.20);
    transition: all 225ms ease-in;
  }

  .card_text {
    color: #272C4C;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
  }

  .card_img {
    padding-bottom: 20px;
  }

  .card_description {
    width: 249px;
    color: #3E3C3C;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
  }

  .card_btn {
    width: 258px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFBA00;
    border: none;
    cursor: pointer;
  }

  .card_btn:hover {
    background-color: #273170;
    color: #FFBA00;
    transition: all 225ms ease-in;
  }

  .card_btn_text {
    color: #273170;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #FFBA00;
    margin: 0 4px;
    border-radius: 5px;
    
  }
  
  .pagination a.active {
    background-color: #FFBA00;
    color: white;
    border: 1px solid #FFBA00;
    
  }
  
  .pagination a:hover:not(.active) {background-color: #FFBA00; color: white;}

  .pagination_mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {

    main {
      padding: 20px;
    }

    .card_item {
      display: grid;
      grid-template-columns: 338px 338px;
      gap: 42px;
    }

    .pagination_mobile {
      display: none;
    }
  }

  @media screen and (max-width: 475px) {

    body {
      padding: 10px;
    }
    main {
      padding: 4px;
    }

    h1 {
      font-size: 20px;
    }

    .check {
      display: flex;
      flex-direction: column;
    }

    .custom-checkbox+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      font-size: 14px;
      padding-bottom: 10px;
      margin-right: 0px;
    }
    
    .card_item {
      display: grid;
      grid-template-columns: 310px;
      justify-content: center;
      padding-bottom: 40px;
    }

    .card {
      max-width: 310px;
      flex-shrink: 0;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 0px 13px 0px rgba(69, 85, 185, 0.20);
      padding: 30px;
      display: flex;
      flex-direction: column;
      }
  
    .card_text {
      color: #272C4C;
      font-family: Helvetica;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 20px;
    }
  
    .card_img {
      padding-bottom: 20px;
      }
  
    .card_description {
      width: 249px;
      color: #3E3C3C;
      font-family: Arial;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding-bottom: 20px;
    }
  
    .card_btn {
      width: 250px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 5px;
      background: #FFBA00;
      border: none;
      cursor: pointer;
    }
  
    .card_btn:hover {
      background-color: #273170;
      color: #FFBA00;
      transition: all 225ms ease-in;
    }
  
    .card_btn_text {
      color: #273170;
      text-align: center;
      font-family: Arial;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .pagination_mobile {
      display: block;
      padding-bottom: 40px;
    }

    .pagination_desktop {
      display: none;
    }

    .arrow {
      padding-top: 8px;
      padding-right: 14px;
    }
  }
